<form method="post" action="/questions/<%= @question.id %>/comments">
  <label for="text">Add your comment</label>
  <br>
  <input id="text_input" name="comment[text]" type="text">
  <br>
  <button name="commentable" type="submit" value="<%= @question.id %>">Submit your comment</button>
</form>
