<nav>
  <ul>
    <h1><a href="/questions">BROverflow</a></h1>
    <% if logged_in? %>
    <li><a href="/logout">Logout</a></li>
    <% else %>
    <li><a href="/login">Log in</a></li>
    <li><a href="/users/new">Register</a></li>
    <% end %>
  </ul>
</nav>
