<% if @questions %>
  <% @questions.each do |question| %>
      <p><%= erb :"/questions/_questions_list", locals: {question: question} %></p>
  <% end %>
<% end %>

  <p><a href="/questions/new">Ask a question!</a></p>

